.background img {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 1.5%;
    background-position: left;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-variant-caps: all-small-caps;
    font-style: bold;
    font-weight: 500;
}
.logo img {
    height: 52px;
}
nav {
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
    text-align: center;
}
.heroImg  img {
    border-radius: 4px;
    max-width: 300px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
.right {
    width: 500px;
    margin: 0 auto;
}

h1 {
    font-family: 'Rubik', sans-serif;
    color: #000002;
    font-weight: 500;
    font-size: 20pt;
}
h2 {
    font-family: 'Rubik', sans-serif;
    color: #5d5d5d;
    font-weight: 500;
    font-size: 16pt;
    line-height: 10px;
}
h3 {
    font-family: 'Rubik', sans-serif;
    color: #000002;
    font-weight: 500;
    font-size: 16pt;
    line-height: 10px;
}
h4 {
    font-family: 'Rubik', sans-serif;
    color: #000002;
    font-weight: 500;
    font-size: 12pt;
    line-height: 10px;
}
h5 {
    font-family: 'Rubik', sans-serif;
    text-decoration: underline;
    color: #000002;
    font-weight: 500;
    font-size: 9pt;
    line-height: 10px;
}
p {
    font-family: 'Rubik', sans-serif;
    color: #5d5d5d;
    font-size: 10pt;
    line-height: 22px;
}
button {
    padding: 10px;
    color: #ffffff;
    background-color: #70d9c5;
    border: none;
    border-radius: 8px;
    font-family: 'rubik', sans-serif;
    font-variant-caps: all-small-caps;
    font-size: 12pt;
    font-weight: 500;
}


/* MY UX SKILLS SECTION CODED USING CSS FLEX */
.mySkillsheader {
    display: inline-block;
    padding-left: 15%;
    padding-top: 20px;
    justify-content: left;
    align-items: center;
}
.mySkills {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexContainer {
    display: flex;
    width: 70%;
    padding-top: 0px;
    margin: 10px;
    flex-direction: row;
}
#row {
    background-color: white;
    justify-content: center;
    flex-direction: row;
    width: 70%;
  }
.flex_item {
    padding: 10px;
    margin: 10px;
    width: 600px;
    justify-content: center;
    background-color: white;
    color: white;
 }


/* MY WORK SECTION CODED USING CSS GRID */
.myWorkheader {
    display: inline-block;
    padding-left: 15%;
    padding-top: 50px;
    justify-content: left;
    align-items: center;
}
.workGrid {
    display: grid;
    margin: 0px 14%;
    grid-template-rows: 120px 120px 120px 120px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* FOOTER AREA */
.footer {
    background-color: none;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    color: #5d5d5d;
    font-size: 10pt;
    padding: 20px;
}

.disclaimer {
    display: inline-flex;
    font-family: 'Rubik', sans-serif;
    color: #5d5d5d;
    font-size: 10pt;
    text-align: left;
}
.sitemap {     
    display: inline-block;
    vertical-align: bottom;
    padding: 20px;
    background-position: left;
    color: #5d5d5d;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-variant-caps: all-small-caps;
    font-style: bold;
    font-weight: 500;
    }

/* MOBILE MEDIA QUERY FOR MOBILE RESPONSIVENESS */
@media only screen and (max-width: 600) {
    #flexContainer {
        display: flex;
        width: 100%;
        padding-top: 0px;
        margin: 10px;
        flex-direction: column;
    }
    #workGrid {
        display: grid;
        margin: 0px 14%;
        grid-template-rows: 120px 120px 120px 120px;
        grid-template-columns: 1fr;
    }
}



/*HOMEWORK 19*/
.cssChange {
    font-family: 'Rubik', sans-serif;
    text-decoration: underline;
    color: #000002;
    background-color: white;
    max-width: fit-content;
    padding: 4px;
    font-weight: 500;
    font-size: 9pt;
    line-height: 10px;
  }

  .hoverh5{
    background-color:#000002;
    color: white;
    
  }